body {

  font-size: 16px;
}

html{
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;  
}


.container
{
width:414px;
margin:0 auto;
background-color:black;
padding-bottom:10px;
}

nav
{
width:100%;
background-color:red;
padding:30px;

}

h1.stop
{
font-family: 'Noto Sans', sans-serif;
font-weight:bold;
color:#ffffff;
font-size:1.2em;
text-align:center;
display:inline;
padding-left:60px;


}

h2.stop
{
font-family: 'Noto Sans', sans-serif;
font-weight:bold;
color:#ffffff;
font-size:0.8em;
text-align:left;
vertical-align:bottom;
padding-top:10px;



}



.direction
{
width:100%;
background-color:lightgray;
font-weight:bold;
}

h2.direction
{
font-family: 'Noto Sans', sans-serif;
color:#00000;
font-size:1em;
padding:5px 5px 5px 20px;
text-transform:uppercase;
text-align:left;
}

.bus_container
{
width:95%;
height:100px;
background-color:#808080;
border-radius:5px;
margin:0 auto;
margin-top:10px;

}

.col_1
{
width:70%;
float:left;
padding: 10px 10px 0px 20px;


}



.col_2
{
width:30%;
float:left;
}

.col2_1
{width:70%;
float:left;

}

.col2_2
{
width:30%;
float:left;
padding-left:25px;
}
	


.bus
{
font-family: 'Noto Sans', sans-serif;
font-weight:bold;}

.number
{
font-size:3em;
color:#ffffff;
text-align:left;
line-height:1.2;

}

.route
{

font-size:1em;
color:#ffffff;
text-align:left;
line-height:1;


}


.min
{
font-size:1.5em;
text-align:left;
color:#ffd700;
display:block;
padding-left:20px;
padding-top:20px;}


.padding_left
{
padding-left:0px;
}

.margin_bottom
{
margin-bottom:10px;}


.back
{

display:inline;
width:20px;
height:20px;
vertical-align:text-bottom;
}


